.logo-image{
    width: 230px;
    height: 230px;
    border-radius:125px;
    border:5px solid #ffffff;
    overflow:hidden;
}
.logo-image img{
    width: 100%;
}
/*li{*/
    /*width: 80%;*/
    /*height: 40px;*/
    /*margin: auto;*/
/*}*/
/*ul{*/
    /*width: 30%;*/
    /*float: left;*/
/*}*/
/*#ul-first{*/
    /*margin-left: 10%;*/
/*}*/
#list {
    margin: 50px auto;
    width: 100%;
    font-size: 18px;
}
#list p{

}
td{
    line-height: 50px;
}
.list-title{
    width: 50%;
    text-align: right;
}
.list-title a{
    color: #ffffff;
    margin-right: 3%;
}
.list-date{
    color: #ffffff;
}
.list-span{
    width: 1px;
}
.list-span span{
    width: 100%;
    border-bottom:1.4em dotted #fff;
    display: block;
}