<!DOCTYPE html>
<html>
<head>
<!--for mathjax-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!--for Access Statistics-->
<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?11c04601dab106acb58d165194925037";
       var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
</script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>

</head>
<body>
<div id="contain">
<div id="navbar">
	<p><a href="{{ site.baseurl }}/" rel="home">首页</a><span>/</span><a href="{{ page.url }}">{{ page.title }}</a></p>
</div>
<header id="masthead" class="site-header" role="banner" style="background-position: 50% 7px;">
		<div class="overlay"></div>
		<div class="container">
			<div class="site-branding">
	        				<h1 class="site-title"><a href="{{ site.baseurl }}/" rel="home">YinZi BLOG</a></h1>
				<h2 class="site-description">这里是个副标题</h2>
	        			</div><!-- .site-branding -->
		</div>	
	</header>

<!-- <header><h1><a href="{{ site.baseurl }}/">Weakyon blog</a></h1><nav id="account"></nav></header> -->
<div id="content">

<section id="newslist"><h2><a href="{{ page.url }}">{{ page.title }}</a></h2></article></section>
{{ content }}
</div>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1970360"></script>
<!-- UY END -->	
</div>
</body>
 </html>
