<!DOCTYPE html>
<html>
<head>
<!--for mathjax-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!--for Access Statistics-->
<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?11c04601dab106acb58d165194925037";
       var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
</script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>

</head>
<body>
<div id="contain">

<div class="svg-container nav-svg svg-block">
		
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
		  <g transform="translate(0,-902.36218)"></g>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="M 0,150 0,0 1925,0"></path>
		</svg>
		</div>
<header id="masthead" class="site-header" role="banner" style="background-position: 50% 7px;">
		<div class="overlay"></div>
		<div class="container">
			<div class="site-branding">
	        				<h1 class="site-title"><a href="{{ site.baseurl }}/" rel="home">YinZi BLOG</a></h1>
				<h2 class="site-description">这里是个副标题</h2>
	        			</div><!-- .site-branding -->
		</div>
		<div class="svg-container header-svg svg-block">
			
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
			<g transform="translate(0,-902.36218)"></g>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 1925,0 0,150 -1925,0"></path>
		</svg>
			</div>		
	</header>

<!-- <header><h1><a href="{{ site.baseurl }}/">Weakyon blog</a></h1><nav id="account"></nav></header> -->
<div id="content">
<div class="svg-container single-post-svg svg-block">
	
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
			<g transform="translate(0,-902.36218)"></g>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 1925,0 0,150 -1925,0"></path>
		</svg>
	</div>
<section id="newslist"><h2><a href="{{ page.url }}">{{ page.title }}</a></h2></article></section>
{{ content }}
<div class="svg-container single-post-svg single-svg-bottom svg-block">
	
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 150">
		  <g transform="translate(0,-902.36218)"></g>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="M 0,150 0,0 1925,0"></path>
		</svg>
	</div>
</div>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1970360"></script>
<!-- UY END -->	
</div>
</body>
 </html>
